body {
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 56px;
  font-family: Consolas;
}

.button {
  width: 200px;
  height: 45px;

  border: 1px solid cornflowerblue;
  background-color: cornflowerblue;
  color: white;

  cursor: pointer;

  margin-top: 40px;
}

.button:hover {
  background-color: white;
  color: black;
}

.button:active {
  transform: scale(0.9);
}

.counter {
  font-size: 30px;
  font-family: Consolas;
  margin-top: 40px;
}
